<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="actorAsha" class="com.stackroute.domain.Actor" >
        <property name="name" value="asha"></property>
        <property name="age" value="30"></property>
        <property name="gender" value="female"></property>
    </bean>
    <!--Used constructor-based injection in the bean definition file (beans.xml) to inject property values in-->
    <!--each of the three beans via name, index, and type.-->
    <bean id="actorA" class="com.stackroute.domain.Actor" >
        <constructor-arg type="String" value="asha"></constructor-arg>
        <constructor-arg type="String" value="female"></constructor-arg>
        <constructor-arg type="int" value="30"></constructor-arg>
    </bean>
    <bean id="actorB" class="com.stackroute.domain.Actor" >
        <constructor-arg  name="name" value="kruthan"></constructor-arg>
        <constructor-arg name="gender" value="male"></constructor-arg>
        <constructor-arg name="age" value="1"></constructor-arg>
    </bean>
    <bean id="actorC" class="com.stackroute.domain.Actor" >
        <constructor-arg index="0" value="asheeth"></constructor-arg>
        <constructor-arg index="1" value="male"></constructor-arg>
        <constructor-arg index="2" value="33"></constructor-arg>
    </bean>

    <bean id="movieXYZ" class="com.stackroute.domain.Movie">
        <property name="actor" ref="actorAsha"></property></bean>
    <!--Changed the scope of the Movie bean in beans.xml to prototype-->
    <bean id="moviePQR" class="com.stackroute.domain.Movie" scope="prototype">
        <constructor-arg name="actor" ref="actorAsha"></constructor-arg></bean>
    <!--Replaced id of the Movie bean with name having two values-->
    <bean name="movieD,movieE" class="com.stackroute.domain.Movie" scope="prototype">
        <constructor-arg name="actor" ref="actorAsha"></constructor-arg></bean>
</beans>
